:root {
    --bg-color: #D5E1EF;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

body {
    max-width: 90rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family : 'Outfit', sans-serif;
    font-weight: 700;
    font-size: clamp(1.2rem, 4vw, 1.375rem);
    line-height: 120%;
    background-color: inherit;
    text-align: center;
    padding: 1.5rem 0 1rem;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: clamp(0.875rem, 2.5vw, 0.958rem); /* 15px */
    line-height: 140%;
    letter-spacing: 0.2px;
    background-color: inherit;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 499px;
    width: 320px;
    border-radius: 20px;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.qr-code-image {
    max-width: 288px;
    border-radius: 10px;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 16px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}